    <h1>Autor</h1>
    <div><img src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/3/005/014/256/0d85eb2.jpg" width="100"></div>
    <div>
      <p>Jaime Tapia</p>
      <p><a href="https://twitter.com/jtapialarrea" target="_blank">@jtapialarrea</a></p>
    </div>
