*                     { margin: 0; padding: 0; }
body                  { font: 16px Georgia, serif; }

#page-wrap            { margin: 2% auto; color: white; }
#page-wrap > .main    { border: 1px solid #999; padding: 1%;
                        margin-bottom: 1px; color: black; }

section > div         { padding: 10px; }
header, nav, section  { background: #eee; text-align: center; }
footer                { background: #eee; text-align: center; }
nav span              { margin: 0px 10px 0px 0px; }
footer span           { margin: 0px 15px 0px 0px; }

#ErrorMsgs            { color: #f61; font-size: smaler; }
table                 { padding-bottom: 20px;
                        padding-top: 20px;
                        margin-left:auto;
                        margin-right:auto;
                      }

input[type="text"], input[type="password"], select {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #d0d1d2;
    border-radius: 3px;
    display: inline-block;
    height: 29px;
    line-height: 140%;
    width: 30%;
}
label {
    display: inline-block;
    padding-right: 15px;
    text-align: right;
    width: 20%;
}
.field {

}

#botonera, #buscador  {
    padding-top: 10px;
}

h1 {
  padding-bottom: 10px;
}

.right {float: right;}
