<table>
  <thead>
    <tr>
      <th>Preguntas encontradas: <%= quizes.length %></th>
    </tr>
  </thead>
  <tbody>
<% var i; for (i=0; i < quizes.length; i++) { %>
  <tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>
<% } %>
  </tbody>
</table>
<div>
  <form method="get" action="/quizes">
    <p>Localice las preguntas disponibles por texto:</p>
    <p>
      <input type="text" name="search" value="" />
      <input type="submit" value="Buscar" />
    </p>
  </form>
</div>
