  <h1>Pregunta: <%= pregunta %></h1>
  <form method="get" action="/quizes/answer">
    <p>
      <input type="text" name="respuesta" placeholder="Introduce la respuesta" value="" />
      <input type="submit" value="Enviar" />
    </p>
  </form>
