    <form method="get" action="/quizes/answer">
      <p>Pregunta: <%= pregunta %></p>
      <p>
        <input type="text" name="respuesta" placeholder="Introduce la respuesta" value="" />
        <input type="submit" value="Enviar" />
      </p>
    </form>
