<h1>Login</h1>
<form method="POST" action="/login">
  <div class="field">
    <label for="login" class="rem">Usuario:</label>
    <input type="text" id="login" name="login" placeholder="Introduzca el usuario" size="30" />
  </div>
  <div class="field">
    <label for="password" class="rem">Clave:</label>
    <input type="password" id="password" name="password" placeholder="Introduzca la clave" size="30" />
  </div>
  <div id="botonera">
    <input name="commit" type="submit" value="Enviar" />
  </div>
</form>
